{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit">Add program</button>
    {{ form_end(form) }}
{% endblock %}