{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
<h1> Tous les acteurs :</h1>



{% for actor in actors %}

<p>{{actor.name}} </p>
<a href="{{ path('actor_show', { id: actor.id }) }}">Voir les series</a>

{% else %}
        Aucun acteur trouvé.
{% endfor %}

{% endblock %}