@import "~bootstrap/scss/bootstrap";

$primary-color: #A583DB;
$secondary-color: #d153a1;
$tertiary-color: #d6d4c7;
$quaternary-color: aqua;

body {
    background-color: $tertiary-color;
}

main {
    margin-left: 20px;
}

nav {
    background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    margin-left: -20px;
}



a {
    color: $secondary-color;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #a74381;
    text-decoration: none;
}