<nav class="navbar navbar-expand-md navbar-light">
<div class="container-fluid">
        <a class="navbar-brand text-white" href="#">WILD SERIES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav ml-auto ">

                <li class="nav-item pull-right">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>

                <li class="nav-item pull-right">
                    <a class="nav-link text-white" href="/program">Program</a>
                </li>

                {# <li class="nav-item pull-right">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu ms-auto" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">XX</a></li>
                            <li><a class="dropdown-item" href="#">XX</a></li>
                            <li><a class="dropdown-item" href="#">XX</a></li>
                        </ul>
                    </div>
                </li> #}

            </ul>
        </div>
		</div>
    </nav>