<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}New Program{% endblock %}</title>
	</head>

	<body>
		<h1>New program{% block emailTitle %}{% endblock %}created</h1>
		<h3>Hello,</h3>
        <p>{% block itemTitle %}{% endblock %} à été ajouté à <b>Wild Series</b></p>
		<p><b>Synopsis:</b> {% block itemSynopsis %}{% endblock %} </p>
		<p>{% block itemLink %}{% endblock %}</p>
	</body>

</html>